<h1>プロフィール</h1>


<div class='icon-content'> 
 <%= image_tag @user.image, class: "user-icon" if @user.image.attached? %> 
</div> 
<p>名前 : <%= @user.nickname %></p>
<p>紹介文 : <%= @user.introduction %></p>
<p>拠点 : <%= @user.prefecture.name %></p>
<p>年齢 : <%= @user.age %></p>
<p>性別 : <%= @user.gender.name %></p>

<ul class=''>
 <li>
  <%# <%= link_to '編集する',  edit_user_registration_path, class: "edit" %> 
  <%= link_to "戻る", :back %>
 </li> 
</ul>