<head>
  <link rel="stylesheet" href="users/show.css">
</head>

<body>
<div class="main">
<div class= "title_box">
<%= image_tag 'OTOMO_icon_nico-02.png', size: "25x25",alt: "list img",class: "icons" %>
<h3>プロフィール</h3>
</div>

<% if current_user.id == @user.id %>
  <div class="link_edit">
  <%= link_to "プロフィールを編集", edit_user_registration_path %>
  </div>
<%else%>
<%end%>

<div class='icon_content'> 
 <%= image_tag @user.image, class: "user_icon_big" if @user.image.attached? %> 
</div> 
<div class="prof_info" >
  <p>名前 : <%= @user.nickname %></p>
  <p>紹介文 : <%= @user.introduction %></p>
  <p>拠点 : <%= @user.prefecture.name %></p>
  <p>年齢 : <%= @user.age %></p>
  <p>性別 : <%= @user.gender.name %></p>
</div>

  <br>
  <div class ="back_btn_sc">
  <%= link_to "< back", :back %>
  </div>

</div>
</body>