<head>
   <link rel="stylesheet" href="events/index.css">
</head>

OTOMO TOPpage

<header>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %> </li> 
        <li><%= link_to 'ログアウト',  destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li> 
      <%else%>
        <li><%= link_to 'ログイン', new_user_session_path,  class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <%end%>     
    </ul>
</header>

<main>

  <% @event.each do |event| %>
      <li class='list'>
        <div class='event-info'>
        <div class='icon-content'> 
           <%= image_tag event.user.image, class: "user-icon" if event.user.image.attached? %> 
        </div> 
        <div class='event-daytime'>
        <%= link_to event_path(event.id) do %>
          <h3 class='event-name'>
            <%= event.title %>
          </h3>
        <% end %>
            イベント日時
            <br>
          <span><%= event.date.strftime('%Y/%m/%d') %> <%= event.start_time.strftime( "%H:%M" ) %> ～ </span>
          </div>
        </div> 
      </li>
  <%end%>


  <%# 募集リンク %>
    <%= link_to(new_event_path, class: 'purchase-btn') do %>
     <span class='purchase-btn-text'>OTOMOを募る！</span>
     <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>

</main>

