<head>
  <link rel="stylesheet" href="events/new.css">
</head>

<body>
<div class="main">
  <div class="items-sell-main">
    <div class= "title_box">
    <%= image_tag 'OTOMO_icon_list-04.png', size: "25x25",alt: "list img",class: "icons" %>
    <h3 class="items-sell-title">イベントの登録</h3>
    </div>


<%# イベント説明 %>
    <%= form_with(model: @event, local: true) do |f| %>
          <%# エラーメッセージ %>
          <%= render 'layouts/error_messages', model: f.object %>
    <div class="weight-bold-text">
          ステータス：
        </div>
        <%= f.collection_select(:status_id, Status.all, :id, :name,  {selected: 1 }, {class:"status_box", id:"item-scheduled-delivery"}) %>
    


    <br><br>
    <h4 style="display:inline">●基本情報</h4> 
    <span class="indispensable">*必須</span>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル：
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"イベント名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          イベントの説明：
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"イベントの説明（必須 400文字まで)青葉公園で17:00くらいから、犬のお散歩のお伴を探しています！" ,rows:"7" ,maxlength:"400" %>
      </div>
      <div class="weight-bold-text">開催日時：
      </div>
       <%= f.date_field :date, class:"times-text", id:"item-info" %>
       <%= f.time_select :start_time, class:"times-text", id:"item-info" %>
    </div>

    <div class="items-detail">
      
      <div class="form">
        <div class="weight-bold-text">
          所用時間：
        </div>
        <%= f.collection_select(:duration_id, Duration.all, :id, :name, {selected: "1"}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          開催地：
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {selected: current_user.prefecture_id }, {class:"select-box", id:"item-prefecture"}) %>
         <div class="weight-bold-text">
          詳細住所：
        </div>
        <%= f.text_area :address, class:"items-text", id:"address", placeholder:"例）京都市 中京区 OTOMO Cafe" ,maxlength:"50" %>
        <%# 地図%> 
        <br>
        <input type="button" value="地図表示" onclick="codeAddress()">
        <div id="display">※住所を入力し、地図表示ボタンを押してください</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder
// 下の1行を追加 
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    //latが緯度、lngが経度を示します
    center: {lat: 35.68123620000001, lng: 139.7671248},
    //数値は0〜21まで指定できます。数値が大きいほど拡大されます
    zoom: 15,
  });

//positionに指定した座標にピンを表示させます
  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      // 下の1行を追加 
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
// ここまで追加 
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
<%# 地図%> 

    <br><br>
    <h4 style="display:inline">●OTOMOの条件</h4> 
    <span class="indispensable">*任意</span>
        <div class="weight-bold-text">
          性別：
        </div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {selected: 3 }, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>

    <div class="items-detail">
      <div class="form">

        <div class="weight-bold-text">
          年齢：
        </div>
        <%= f.collection_select(:generation_id, Generation.all, :id, :name, {selected: 1 }, {class:"select-box", id:"item-shipping-fee-status"}) %> 
        
      </div>
    </div>

    <%# 下部ボタン %>
    <div class="btn_contents">
      <%= f.submit "イベントを登録" ,class:"toroku_btn" %>
      <%=link_to '< back', root_path, class:"back_btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>
</body>